doctype html
html
  head
    meta(charset="utf-8")
    title= titulo || 'Clínica Salud Integral - Pacientes'
  body
    header
      h1 Clínica Salud Integral
      nav
        a(href="/pacientes") Pacientes |
        a(href="/empleados") Empleados |
        a(href="/tareas") Tareas
    main
      block content
    footer
      p © 2025 Clínica Salud Integral
