extends layout

block content
  p Bienvenido.
  p Selecciona la sección que desea administrar:
  a(href="/empleados") Empleados
  br
  br
  a(href="/pacientes") Pacientes
  br
  br
  a(href="/tareas") Tareas
  br
  br
  a(href="/insumos") Insumos
  